.container {
    height: 200vh;
    display: flex;
}

.relativeDivContainer{
    position: relative;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    height: 30%;
}

.staticDiv{
    background-color: aqua;
    padding: 20px;
    top: 10px;
    left: 10px;
    /* top, bottom, left and right are ignored for the default position: static */
}

.relativeDiv{
    position: relative;
    background-color: coral;
    padding: 20px;
    /* top: 10px;
    left: 10px; */
    /* top, bottom, left and right change the position relatively to the position normally it would be (as static) */
}

.absoluteDiv{
    position: absolute;
    background-color: sandybrown;
    padding: 20px;
    /* top: 10px;
    left: 10px; */
    /* top, bottom, left and right change the position relatively to the first non static ancestor element */
}


.fixedDiv{
    position: fixed;
    background-color: cornflowerblue;
    padding: 20px;
    /* top: 0px;
    right: 0px; */
}

.stickyDiv{
    position: sticky;
    background-color: yellow;
    padding: 20px;
    top: 0px;
}

.stickyAloneDiv{
    position: sticky;
    background-color: yellow;
    margin: 20px;
    padding: 20px;
    top: 0px;
    height: min-content;
}

.inheritDiv{
    position: inherit;
    background-color: indianred;
    padding: 20px;
    top: 10px;
    left: 10px;
}